## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key= g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Port Alfred,ZA,-33.5906,26.8910,71.26,85,74,15.82,broken clouds
1,1,Pangnirtung,CA,66.1451,-65.7125,-4.36,75,89,5.53,overcast clouds
2,2,Ilulissat,GL,69.2167,-51.1000,21.22,68,75,8.05,broken clouds
3,3,Grindavik,IS,63.8424,-22.4338,41.47,87,75,21.85,broken clouds
4,4,Sitka,US,57.0531,-135.3300,35.49,69,90,17.27,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 85
What is the maximum temperature you would like for your trip? 102

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
18,18,Mulatupo,PA,8.9492,-77.7652,85.30,59,100,5.32,overcast clouds
43,43,Aswan,EG,24.0934,32.9070,85.30,42,0,10.36,clear sky
65,65,Arraial Do Cabo,BR,-22.9661,-42.0278,89.56,66,40,10.36,scattered clouds
92,92,Kouroussa,GN,10.6500,-9.8833,90.77,12,98,3.80,overcast clouds
107,107,Castro,BR,-24.7911,-50.0119,86.18,28,89,6.33,overcast clouds
117,117,Princeton,US,25.5384,-80.4089,85.01,71,40,8.05,scattered clouds
122,122,Puerto Leguizamo,CO,-0.1934,-74.7819,91.54,39,56,7.05,broken clouds
126,126,Natal,BR,-5.7950,-35.2094,89.82,58,75,18.41,broken clouds
140,140,Oussouye,SN,12.4850,-16.5469,95.18,44,33,13.80,scattered clouds
185,185,Orocue,CO,4.7912,-71.3354,93.00,38,18,14.94,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        68
City           68
Country        66
Lat            68
Lng            68
Max Temp       68
Humidity       68
Cloudiness     68
Wind Speed     68
Description    68
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
18,18,Mulatupo,PA,8.9492,-77.7652,85.30,59,100,5.32,overcast clouds
43,43,Aswan,EG,24.0934,32.9070,85.30,42,0,10.36,clear sky
65,65,Arraial Do Cabo,BR,-22.9661,-42.0278,89.56,66,40,10.36,scattered clouds
92,92,Kouroussa,GN,10.6500,-9.8833,90.77,12,98,3.80,overcast clouds
107,107,Castro,BR,-24.7911,-50.0119,86.18,28,89,6.33,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Sweetwater,US,25.7634,-80.3731,86.02,70,40,3.00,scattered clouds
705,705,Esperanza,DO,19.5847,-70.9849,85.30,63,4,8.01,clear sky
710,710,Atar,MR,20.5169,-13.0499,86.05,9,67,9.08,broken clouds
718,718,Chiredzi,ZW,-21.0500,31.6667,92.66,22,24,8.77,few clouds
720,720,Tacuarembo,UY,-31.7333,-55.9833,94.06,24,46,6.08,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
18,Mulatupo,PA,85.30,overcast clouds,8.9492,-77.7652,
43,Aswan,EG,85.30,clear sky,24.0934,32.9070,
65,Arraial Do Cabo,BR,89.56,scattered clouds,-22.9661,-42.0278,
92,Kouroussa,GN,90.77,overcast clouds,10.6500,-9.8833,
107,Castro,BR,86.18,overcast clouds,-24.7911,-50.0119,
117,Princeton,US,85.01,scattered clouds,25.5384,-80.4089,
122,Puerto Leguizamo,CO,91.54,broken clouds,-0.1934,-74.7819,
126,Natal,BR,89.82,broken clouds,-5.7950,-35.2094,
140,Oussouye,SN,95.18,scattered clouds,12.4850,-16.5469,
185,Orocue,CO,93.00,few clouds,4.7912,-71.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print(f"{index} Hotel not found...Skipping.")

307 Hotel not found...Skipping.
329 Hotel not found...Skipping.
401 Hotel not found...Skipping.
419 Hotel not found...Skipping.
541 Hotel not found...Skipping.
613 Hotel not found...Skipping.

In [9]:
hotel_df['Hotel Name'].count

<bound method Series.count of 18                          Hostal Nuevo Sasardí
43                                     Nuba Nile
65                           Pousada Porto Praia
92                                Hotel Paillote
107                               CHACARA BAILLY
                         ...
693                  Li'l Abner Mobile Home Park
705    Cabañas Bernard - Alojamientos Turísticos
710                               Oumou Elghoura
718                       Clevers Hotel Chiredzi
720                       Complejo San Fructuoso
Name: Hotel Name, Length: 68, dtype: object>

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
18,Mulatupo,PA,85.30,overcast clouds,8.9492,-77.7652,Hostal Nuevo Sasardí
43,Aswan,EG,85.30,clear sky,24.0934,32.9070,Nuba Nile
65,Arraial Do Cabo,BR,89.56,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
92,Kouroussa,GN,90.77,overcast clouds,10.6500,-9.8833,Hotel Paillote
107,Castro,BR,86.18,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
...,...,...,...,...,...,...,...
693,Sweetwater,US,86.02,scattered clouds,25.7634,-80.3731,Li'l Abner Mobile Home Park
705,Esperanza,DO,85.30,clear sky,19.5847,-70.9849,Cabañas Bernard - Alojamientos Turísticos
710,Atar,MR,86.05,broken clouds,20.5169,-13.0499,Oumou Elghoura
718,Chiredzi,ZW,92.66,few clouds,-21.0500,31.6667,Clevers Hotel Chiredzi
720,Tacuarembo,UY,94.06,scattered clouds,-31.7333,-55.9833,Complejo San Fructuoso

In [11]:
clean_hotel_df = hotel_df.dropna()

In [12]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
locations

         Lat      Lng
18    8.9492 -77.7652
43   24.0934  32.9070
65  -22.9661 -42.0278
92   10.6500  -9.8833
107 -24.7911 -50.0119
..       ...      ...
693  25.7634 -80.3731
705  19.5847 -70.9849
710  20.5169 -13.0499
718 -21.0500  31.6667
720 -31.7333 -55.9833

[66 rows x 2 columns]

In [15]:
 #11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))